.section-name{
    display: flex;
    justify-content: space-between;
}

.ft-b-14 {
    font-size: 14px;
    font-weight: bold;
    
}
.ft-b-16 {
    font-size: 16px;
    font-weight: bold;
    
}

.ft-b-12{
    font-size: 14px;
    font-weight: bold;
}

.ft-b{
  font-weight: bold;
}
.ft-12{
    font-size: 14px;
}
.underline {
  border-bottom: 2px solid #000;
}

/* .underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: currentColor; 
} */

* {
    font-family:  sans-serif;
    text-rendering: optimizeLegibility;
}

.pdf-content{
    padding: 0 0 50px 0;
}
.avoid-break {
    page-break-inside: avoid;
}

.signature-section{
    padding-top: 30px;
}
thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }

/* Reset the list styles */
ol {
    counter-reset: item; 
    padding-left: 0; 
  }
  li {
    list-style: none; 
    position: relative; 
    padding-left: 30px; 
  }
  li::before {
    counter-increment: item; 
    content: counter(item) ') '; 
    position: absolute; 
    left: 0; 
  }
  
  /* For nested lists, if you want alphabetical markers */
  ol.alpha {
    counter-reset: sub-item; /* Create a new instance of the counter for nested items */
  }
  ol.alpha li {
    padding-top: 0 !important;
  }
  ol.alpha li::before {
    counter-increment: sub-item; /* Increment the nested counter */
    content: counter(sub-item, lower-alpha) ') '; /* Display the counter as a letter followed by a parenthesis */
  }
  
  .footer-list li {
    padding-top: 10px;
  }
  .footer-part li {
    padding-top: 10px;
  }
  .break-before {
    break-before: page; 
  }

  .ft_helvetica{
    font-family: 'helvetica';
  }

  .ft_helvetica-thin{
    font-family: 'helvetica_thin';
  }

  .ft-bold{
    font-weight: bold;
  }
